# 忽略static目录下的landscape和portrait文件夹内的文件，但保留目录结构
static/landscape/**/*
static/portrait/**/*
!static/landscape/
!static/portrait/
!static/landscape/avif/
!static/landscape/webp/
!static/portrait/avif/
!static/portrait/webp/

# 系统文件
.DS_Store

# 编译生成的二进制文件
imageflow

# IDE配置文件
.idea/
.vscode/

# 依赖目录
vendor/

# 日志文件
*.log
