static/images/**/*
!static/images/**/
!static/images/**/.gitkeep


.DS_Store
**/.DS_Store

nextjs-frontend/

.idea/
.vscode/
.cursor
vendor/

*.log

.env*         
!.env.example  

tmp/
temp/


coverage.txt
node_modules/

ImageFlow.exe